html {
    font-size: 16px;
}

.hero {
    height: 100vh;
    background-color: #B9F3FC;
    display: flex;
    padding: 0 380px;
    justify-content: space-between;
    align-items: center;
}

.intro {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-text span {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
}

.intro h1 {
    color: #2d83bd;
}

.intro h2 {
    margin-top: 2rem;
}

.contact-link {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.contact-link img {
    height: 1.7rem;
}

.my-photo > img {
    height: 25rem;
}

/* .resume {
    height: 200vh;
    background-color: #AEE2FF;
    display: flex;
    padding: 50px 400px;
    box-sizing: border-box;
} */

.edu {
    height: 100vh;
    background-color: #AEE2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 400px;
    box-sizing: border-box;
}

.edu > h1 {
    /* text-align: center; */
    color: #2d83bd;
}

/* .edu-content {
    margin-top: 20px;
    display: flex;
    width: calc(100vw - 720px);
    justify-content: space-between;
}

.edu-pics {
    display: flex;
    flex-direction: column;
} */

.edu-content {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    color: #457996;
    text-align: justify;
    line-height: 2.5rem;
}

.edu img {
    width: 250px;
    /* margin-top: 20px; */
    height: 250px;
}

.skills {
    height: 100vh;
    background-color: #AEE2FF;
    padding: 150px 300px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    gap: 200px;
    align-items: center;
    flex-direction: column;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px;
}

.skills-content h2 {
    font-size: 3.1rem;
}

.skills-content p {
    font-size: 2.5rem;
}

.projects {
    height: 100vh;
    background-color: #B9F3FC;
}

.footer {
    height: 25vh;
    background-color: #AEE2FF;
}