html {
    font-size: 16px;
}

.hero {
    height: 100vh;
    background: rgb(185,243,252);
background: linear-gradient(180deg, rgba(185,243,252,1) 0%, rgba(185,252,222,1) 100%);
    display: flex;
    /* padding: 0 380px; */
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-text span {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
}

.intro h1 {
    color: #2d83bd;
}

.intro h2 {
    margin-top: 2rem;
}

.contact-link {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.contact-link img {
    height: 1.7rem;
}

.my-photo > img {
    height: 25rem;
}

/* .resume {
    height: 200vh;
    background-color: #AEE2FF;
    display: flex;
    padding: 50px 400px;
    box-sizing: border-box;
} */

.edu {
    height:  100vh;
    /* background-color: #AEE2FF; */
    background: rgb(185,255,222);
background: linear-gradient(180deg, rgba(185,252,222,1) 0%, rgba(185,219,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    box-sizing: border-box;
}

/* .edu-content {
    margin-top: 20px;
    display: flex;
    width: calc(100vw - 720px);
    justify-content: space-between;
}

.edu-pics {
    display: flex;
    flex-direction: column;
} */

.edu-content {
    display: grid;
    /* margin-top: 50px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    gap: 10px;
    color: #457996;
    text-align: center;
    line-height: 2.5rem;
    /* width: calc(100% - 800px); */
    /* place-items: center; */
}

.edu-content > h1 {
    grid-column: span 2;
    /* width: 100%; */
    text-align: center;
    color: #45968b;
} 

.edu img {
    width: 200px;
    /* margin-top: 20px; */
    height: 200px;
}

.skills h1{
    color: #455896;
}

.skills {
    height: 100vh;
    background: rgb(185,219,255);
background: linear-gradient(180deg, rgba(185,219,255,1) 0%, rgba(185,197,255,1) 100%);
    padding: 150px 200px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    gap: 200px;
    align-items: center;
    flex-direction: column;
    color: #5b4596;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* gap: 50px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 40px; */
}

.skills-content > div {
    display: flex;
    flex-direction: column;
}

.skills-content h2 {
    font-size: 3.1rem;
}

.skills-content p {
    font-size: 2.5rem;
}

.projects {
    height: 200vh;
    background: rgb(185,197,255);
    background: linear-gradient(180deg, rgba(185,197,255,1) 0%, rgba(248,224,250,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr;
    gap: 10px;
    padding: 50px 200px;
    place-items: left;
    color: #474f94;
}

.projects > h1 {
    grid-column: span 2;
    text-align: center;
}

.projects img {
    width: 37.5rem;
    height: 25rem;
    border: 3px solid #474f94;
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 3rem;
}

.proj-links {
    display: flex;
    gap: 60px;
}

.proj-links button {
    border: none;
    color: white;
    background-color: #9384bb;
    padding: 5px 20px;
    border-radius: 5px;
}

button:hover {
    /* border-bottom: 2px solid  #939099; */
    outline: 2px solid #939099;
}

.footer {
    height: 20vh;
    background: rgb(248,224,250);
    background: linear-gradient(180deg, rgba(248,224,250,1) 0%, rgba(250,224,224,1) 70%);
    display: flex;
    font-size: 1.5rem;
    line-height: 2.5rem;
    justify-content: space-between;
    border-top: 1px solid rgb(223, 183, 233);
    padding: 10px 100px;
    color: #474f94;
}

@media (max-width: 1209px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1069px) {
    .projects {
        padding: 50px 150px;
    }
}

@media (max-width: 969px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
    }

    .projects > h1 {
        grid-column: 1;
    }

    .edu-content {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
        height: 100%;
    }

    .edu {
        /* margin-top: -50px; */
        height: 100%;
    }

    .edu-content h1{
        grid-column: 1;
    }

    .skills-content {
        flex-direction: column;
    }

    .skills-content > div {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 751px) {
    .projects {
        padding: 50px 50px;
    }

    .intro {
        justify-content: center;
    } 

    .skills {
        padding: 150px 100px;
    }

    .projects img {
        width: 25rem;
        height: 15rem;
    }

    .footer {
        padding: 10px 20px;
    }
}